.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  margin-left: 25px;
  margin-top: 20px;
  padding: 10px;
  width: 50%;
}

p {
  margin-top: 2px;
  margin-left: 50px;
}

h3 {
  margin-top: 5px;
  margin-left: 50px;
  font-size: 30px;
}
h2 {
  margin-top: 0px;
  padding-top: 10px;
  padding-left: 50px;
}
span {
  margin-left: 40px;
  font-size: 30px;
  cursor: pointer;
}
